@using OnlineShopping.Model
@model Category

<form method="post">

    
    <h2 class="mt-5">Yeni Kategori Oluştur</h2>
    <div class="row ">
        <label asp-for ="Name">Kategori Adı</label>
        <input asp-for ="Name" class="form-control" />
    </div>
    <div class="row my-2 mt-2">
        <div class="col-6"><button type="submit" class="btn btn-success" >
            Kaydet
        </button></div>
        <div class="col-6"><a asp-controller="Category" asp-action="Index" class="btn btn-success"> Kategori Listesine Dön  </a></div>        
        
    </div>
</form>