@using OnlineShopping.Model
@model Category

<form method="post" asp-action="Edit">

    <h2 class="mt-5">Kategori Güncelle</h2>
    <div class="row">
        <label asp-for ="Name">Yeni Kategori Adı</label>
        <input asp-for ="Name" class="form-control" />
    </div>
    <div class="row my-2">
        <div class="col-6"><button type="submit" class="btn btn-success" >
            Kaydet
        </button></div>
        <div class="col-6"><a asp-controller="Category" asp-action="Index" class="btn btn-danger">Kategori Listesine Dön  </a></div>        
        
    </div>
</form>